# Compiled Python files
*.pyc
*.pyo
__pycache__/

# macOS system files
.DS_Store
./.DS_Store

# Logs and temporary files
*.log
*.tmp
wandb/
tb_logs/
wandb_checkpoints/

# Data and model directories
Dataset/
FlyTrainingData/
peak_detection/data/
peak_detection/figures/
supplementary_files/figures/

# IDE-specific files and directories
.vscode/